<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='bower_components/bootstrap/dist/css/bootstrap.css')}}">
    <title>Document</title>
    <style>
        .main {

            margin-top: 40px;
        }
    </style>
</head>

<body>
    <div class="container main">
        <h2>Hello Flask app</h2>
    </div>

</body>

</html>